
.App {
  display:flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.todolistTable{
  border: 2px solid black;
  margin:2px;
  padding:7px;
}

