.holder {
    display: flex;
    flex-direction: row;
}

#sBox,
#lBox {
    display: flex;
    border: 1px solid black;
    height: 400px;
    width: 300px;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.words {
    animation: vibrate 0.8s linear 0s infinite;
    -moz-animation: vibrate 0.8s linear 0s infinite;
    /* Firefox */
    -webkit-animation: vibrate 0.8s linear 0s infinite;
    /* Safari and Chrome */
    -o-animation: vibrate 0.8s linear 0s infinite;
    /* Opera */
}

@keyframes vibrate {
    0% {
        margin-left: 0px;
    }

    25% {
        margin-left: -6px;
    }

    50% {
        margin-left: 0px;
    }

    75% {
        margin-left: 6px;
    }

    100% {
        margin-left: 0px;
    }

}

@-moz-keyframes vibrate

/* Firefox */
    {
    0% {
        margin-left: 0px;
    }

    25% {
        margin-left: -6px;
    }

    50% {
        margin-left: 0px;
    }

    75% {
        margin-left: 6px;
    }

    100% {
        margin-left: 0px;
    }
}

@-webkit-keyframes vibrate

/* Safari and Chrome */
    {
    0% {
        margin-left: 0px;
    }

    25% {
        margin-left: -6px;
    }

    50% {
        margin-left: 0px;
    }

    75% {
        margin-left: 6px;
    }

    100% {
        margin-left: 0px;
    }
}

@-o-keyframes vibrate

/* Opera */
    {
    0% {
        margin-left: 0px;
    }

    25% {
        margin-left: -6px;
    }

    50% {
        margin-left: 0px;
    }

    75% {
        margin-left: 6px;
    }

    100% {
        margin-left: 0px;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Satisfy',
        cursive;

}

button {
    background-color: green;
    color: white;
    height: 50px;
    width: 80px;
    border-radius: 5px;
    margin: 20px;
}

input {
    width: 140px;
    height: 20px;
    margin-bottom: 20px;
}